<main class="main">
  <section class="main__section1">
    <h2 class="main__title">Mi coctelera favorita</h2>
    <form>
      <input
        type="text"
        placeholder="Encuentra tu cóctel"
        class="main__input js-write-cocktail"
      />
      <input
        type="button"
        value="buscar mi cóctel"
        class="main__search js-search"
      />
      <input type="button" value="reset" class="main__reset js-reset" />
    </form>
  </section>

  <section class="main__section2">
    <div class="main__divListado">
      <h2 class="main__title2">Listado de cócteles</h2>
      <ul class="main__cocktailList js-cocktail-list"></ul>
    </div>

    <div class="main__divListado">
      <h2 class="main__title2">Mis preferidos</h2>
      <ul class="main__favoriteList js-favorite-list"></ul>
    </div>
  </section>
</main>
