<main class="main">
  <section>
    <h2>Búscador de cócteles</h2>
    <form>
      <input
        type="text"
        placeholder="Encuentra tu cóctel"
        class="js-write-cocktail"
      />
      <input type="button" value="buscar mi cóctel" class="js-search" />
      <input
        type="button"
        value="borrar mi lista de favoritos"
        class="js-reset"
      />
    </form>
  </section>

  <section class="section">
    <div>
      <h2>Listado de cócteles</h2>
      <ul class="js-cocktail-list"></ul>
    </div>

    <div>
      <h2>Mis cócteles favoritos</h2>
      <ul class="js-favorite-list"></ul>
    </div>
  </section>
</main>
